@import url('fonts.googleapis.com');
*{
box-sizing: border-box;

}
body{
    font-family:'Roboto',sans-serif;
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    
    
}

body::-webkit-scrollbar {
  display: none;
}
.header{
    background-color: #1F2937;
}  
.hero{
   display:flex;
   justify-content: space-between;
   align-items: center;
   /* border:1px solid red; */
   max-width:100%;
   padding:10px 150px;
}
  
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    gap:8px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
.image
{
    height:35px;
    width:35px;
    border-radius:50%;
    /* border:1px solid black; */
    overflow:hidden;
}
.logo1{
    height:100%;
    width:100%;
    object-fit: cover;
}
.info{
    display:flex;
    max-width: 100%;
    margin-top:50px;
    padding-bottom:100px;
    padding-left:150px;
    padding-right:150px;
    /* border:1px solid yellow; */
    gap:14px;
}
.info1{
   /* border:1px solid green; */
   width:46%;
   height:350px;
   flex-grow: 1;
}
.para-1{
    margin:0;
    font-size:94px;
    font-weight: 900;
    color:#F9FAF8;
}
.para-2
{
    margin-top:5px;
    color:#E5E7EB;
    font-size: 18px;
}
.info2{
   /* border:1px solid green; */
   width:46%;
   height:350px;
   flex-grow: 1;
}
.shop{
    height:100%;
    width:100%;
    object-fit: cover;
}
.box-1{
    /* border:1px solid red; */
    padding-bottom:60px;
    
}
.outfits{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 30px;
    /* border:1px solid green; */
}
.illustration{
    width:300px;
    height:50px;
    text-align: center;
    margin-top: 10px;
}
.para-trends{
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}
.image-box{
    height:300px;
    width:300px;
    overflow:hidden;
    border-radius: 10px;
}
.image-box1{
   height: 100%;
   width:100%;
   object-fit: cover;
   object-position: top center;
}

.box-2
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:70px 0;
    background-color: #E5E7EB;

}
.quote-box{
    
        width:68%;
        
}
.quote-para{
        font-size: 36px;
        color:#1F2937;
        font-weight: 300px;
        margin:0;
}
.author-name{
        margin: 0 0 0 1100px;
        font-weight: bold;
        color:black;
        font-size: 20px;
}
.box-3
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px 150px;
    
}
.sign-in
{
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding:30px 130px;
    background-color: #3882F6;
    border-radius: 10px;
}
.alert{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    color:#E5E7EB;
}
.sign-in-info{
    margin:0;
    color:#E5E7EB;
    font-weight: 100;
}
button{
    background-color: #3882F6;
    color:white;
    font-weight: bold;
    font-family: 20px;
    padding: 4px;
    width:100px;
    height:30px;
    border-radius: 6px;
    border:none;

}
.click-me{
    border:1px solid white;
}
.footer
{
    border:1px solid red;
    margin-top: auto;
    text-align: center;
    padding:20px 0;
    background-color: #1F2937;
    color:#F9FAF8;
    
}
